
/* -- Styles Globais -- */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Funnel Display', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}